---
import Main from "../layouts/Main.astro";
import Calculator from "../components/Calculator";
---

<Main title="Quote Generator">
  <main class="container mt-20">
    <img src="/fullLogo.png" class="mx-auto mb-10" width="250" height="250" />
    <h1 class="text-5xl font-bold text-center">Window Cleaning Quote Generator</h1>
    <Calculator client:load></Calculator>
  </main>
</Main>
